@import url('https://googleapis.com');

* {
    font-family: 'Montserrat', sans-serif;
}

.tudo {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/img/desenho-cenario-ford.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 460px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff; 
}

form a {
    color: #3498db; 
}

form img {
    display: block;
    margin: 0 auto 20px auto;
}

img {
    width: 50%;
    height: 50%;
}