.tudo{
    min-height: 100vh;         /* Ocupa toda a altura da tela */
    width: 100vw;              /* Ocupa toda a largura da tela */
    display: flex;             /* Ativa flexbox para alinhar o form */
    justify-content: center;   /* Centraliza o formulário horizontalmente */
    align-items: center;       /* Centraliza o formulário verticalmente */
    position: absolute;        /* Garante que cubra possíveis vazamentos de margem */
    top: 0;
    left: 0;
    background-color: aquamarine;
}
.fundo-pagina{
    background-color: #002c5f;
    color: aliceblue;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 460px;
    width: 100%;
}

img {
    width: 50%;
    height: 50%;
}

form img {
    display: block;
    margin: 0 auto 20px auto;
}