:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 15px;
}

button.btn-danger {
    order: 2;
    margin-top: 10px;
    max-width: 480px;
    padding: 10px;
    font-weight: 500;
}