<div class="tudo">
  
  <!-- CONTEÚDO DO CARTÃO -->
  <div class="cartao-sistema">
    <div class="cartao-topo">
      Sistema de dados FORD
    </div>
    <div class="cartao-corpo">
      <h2>Seja bem vindo(a)!</h2>

<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
    aria-controls="offcanvasExample">
    Menu
</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Ford Enter</h5>
    </div>
    <div class="offcanvas-body">
        <button class="btn btn-primary" (click)="goToDashboard()">Dashboard</button>
    </div>
</div>


    </div>
  </div>

</div>