<div class="tudo">

    <div class="cartao-sistema">

        <div class="cartao-topo">

            Sistema de dados FORD

        </div>

        <div class="cartao-corpo">

            <h1>Seja bem vindo(a)!</h1>
            <br>
            <h5>Orientações:</h5>
            <br>
            <h6>Acessar o Dashboard: apertar o botão "Menu", no canto superior esquerdo.</h6>
            <br>
            <h6>Deslogar: apertar o botão abaixo.</h6>

            <!--add mais coisa se quiser-->
            
        </div>

    </div>

</div>